body {
    background-color: #add0c0;
    font-family: 'Biryani', sans-serif;
    
}
/*overrides all */

.flex-container {
    border-collapse: separate;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    margin: 10px;
    object-fit: contain;
    width: 100%;
}

/*allows format for gallery*/
@media screen and (max-width: 300px){
 .flex-container {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin: auto;
    object-fit: fill;
    }
body {
    margin: 5px;
    justify-content: center;
    }
}



.img {
    height: auto;
    width:300px;
    border-collapse: separate;
}

/*controls images*/

h2 {
    color: #04725c;
    font-family: 'Saira Semi Condensed', sans-serif;
}
/*head caption*/




header {
    
    background-color: #c8e2e2;
    color: #045972;
    font-family: 'Righteous', cursive;
    font-kerning:normal;
    font-size: 50px;
    margin: 25x,60x;
    text-align: center;
}

  
/*Title*/




ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

li a:hover {
   background-color:#7e99a1;
   color: white;
}

a.active {
   color: white;
}

  /*appears white when clicked on*/  

.w3-button {
    background: #4E9CAF;
    border-radius: 25px;
    color: white;
    display: inline;
    float: right;
    font-family: 'Scada', sans-serif;
    font-weight: bold;
    height:30;
    padding: 40px;
    text-align: center;
    width: 70px;
}
/*gives the button appearance to nav*/


@media only screen and (max-width:600px)
{.nav
    {
    display: flex;
    flex-flow: wrap column;
}
}

